.client-info-container {
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    border-radius: 10px;

}

.client-info span {
    color: #777;
    font-size: small;
}

.client-info h2 {
    margin-bottom: 0%;
}

.client-info p {
    margin-top: 0;
}