.body {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.activities-container {
    padding: 10vh 10vw;
}

.title {
    color: steelblue;
}

.activities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.Current-activity {
    padding: 10px;
}